body{
font-family: 'Livvic';
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index:-1;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
/* This includes css for login */
.container{
border-radius: 18px;
text-align: center;
padding-left:250px;
padding-right:250px;
padding-top:100px;
}
.form-group{
background: #003366;
opacity: 0.95;
color: white;
border-radius: 18px;
text-align: center;
    padding: 20px;

}
nav.navbar.navbar-inverse {
    /* float: left; */
    background-color: #003366;
    opacity: 0.7;

}
.navbar-nav {
    display: -ms-flexbox;
    display: contents;
    }

a.navbar-brand {
color: white;
}
li a {
    color: white;
}
/* login css ends here */

/* Css for Signup.html */
.container.signup{
border-radius: 18px;
text-align: center;
padding-left:100px;
padding-right:100px;
padding-top:20px;
}